@font-face{
	font-family: "Comicoro"; 
	src: local('Comicoro'),
		 url(Comicoro.ttf);
	
}

html, body {
	font-family: "Comicoro";
    height: 100%;
    margin: 0;
    background: #dcdcd2;;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
canvas {
    border: 5px solid black;
}

button{
	font-family: "Comicoro";
	padding: 0; 
	border: 0; 
	background: transparent;
	font-size: 40px;
}
	
p{
	font-family: "Comicoro";
	font-size: 40px;
	color: black;
}
