html, body {
    height: 100%;
    margin: 0;
    background: #1D1E33;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    border: 5px solid #FAEEDD;
}
	
button{
	padding: 0; 
	border: 0; 
	background: transparent;
}	

p{
	color: white;
}